<div class="kleid-item__content">
  <div class="kleid-item__side-1"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-2"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-3"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-4"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-5"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-6"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-7"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-8"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-9"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-10"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-11"><div class="kleid-item__character">{{character}}</div></div>
  <div class="kleid-item__side-12"><div class="kleid-item__character">{{character}}</div></div>
</div>
